@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

.hanken-grotesk {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
  }

:root{
    --bg: #02020f;
    --bg-lighter: #22222f;
    --text: #d9d9d9;
    --text-darker: #a7a7a7;
}


::-moz-selection { /* Code for Firefox */
    color: var(--text);
    background: var(--bg);
}
  
::selection {
    color: var(--text);
    background: var(--bg);
}
* {
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg);
    color: var(--text);
}
.center{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    flex: 0.01 0 300px;
    justify-content: center;
    border-radius: .5rem;
    height: fit-content;
}
.element{
    margin-top: 1rem;
}

button{
    background-color: var(--bg);
    color: var(--text);
    border: 1px var(--text) solid;
    border-radius: .3rem;
    height: 3rem;

}
button:hover{
    background-color: var(--text);
    color: var(--bg);
    border: 1px var(--bg) solid;
    cursor: pointer;
}

.input-option-inputs{
    min-width: 280px;
    display: flex;
    gap: .5rem;
}

.input-option-inputs input[type=tel]{
    width: 100%;
}

input:focus{
    outline: none;
    background-color: var(--text);
    color: var(--bg-lighter);
}
input{
    border: none;
    border-radius: .3rem;
    height: 2rem;
    background-color: var(--bg-lighter);
    color: var(--text);
}
select{
    border: none;
    border-radius: .3rem;
    height: 2rem;
    background-color: var(--bg-lighter);
    color: var(--text);
}
select:hover{
    background-color: var(--text);
    color: var(--bg);
    cursor: pointer;
}

.input-w-unit{
    display: flex;
    gap: .5rem;
    width: 100%;
    justify-content: space-between;
}

.input-w-unit .n-unit{
    width: 100%;
}

.unit-input{
    width: 10%;
    text-indent: .2rem;
}

.subtext{
    color: var(--text-darker);
    font-style: italic;
    font-size: .8rem;
    margin: 0;
}

.previsualizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 5rem;
}

#gridCanvas{
    background-color: var(--text);
}
#previewText{
    margin: 0;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    user-select: none;
    mix-blend-mode: difference;
}
a{
    text-decoration: none;
    color: var(--text);
}
canvas{
    display: none;
}

@media screen and (max-width:766px) {
    main{
        flex-direction: column;
    }
    .previsualizacion{
        margin: 2rem 0 5rem 0;
    }
}